<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title The best Dancing Academy
        style
            include ../static/style.css
    body
        nav#navBar
            ul  
                div#logo 
                    img(src="../static/logo.png", alt="")
                    h3 SDA
                li #[a(href="/")  Home]
                li #[a(href="/")  About]
                li #[a(href="/")  Services]
                li #[a(href="/contact")  Contact us]
                li #[a(href="/")  Class info]
        
        section#intro
            div Welcome to Shashank Dance Academy
            div.small Eat Dance Sleep Repeat
        section#mission
            h1 Our Mission
            div.container
                div.card
                    h2 Dance Perfection
                    div.card-box 
                        div.card-img
                            img(src="../static/1.png", alt="")
                        div.card-content 
                            p Dance is Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit, eos?
                div.card
                    h2 Dance Like You Want to
                    div.card-box 
                        div.card-img
                            img(src="../static/2.png", alt="")
                        div.card-content 
                            p Dance is Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit, eos?
                div.card
                    h2 Expert Dancing
                    div.card-box 
                        div.card-img
                            img(src="../static/3.jpg", alt="")
                        div.card-content 
                            p Dance is Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit, eos?
        section#sponsor
            h2 Our Sponsors
            div.img 
                img(src="../static/logo1.jpg", alt="")
                img(src="../static/logo2.jpg", alt="")
                img(src="../static/logo3.png", alt="")
        section#footer
            | CopyRight ShashankDanceAcademy | All Rights Reserved 
        